.icon {
    width: 64px;
    height: 64px;
    border: 2px solid #801AB2;
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    background-color: black;
    margin-right: 16px;
}
