.container {
    width: 720px;
    border-radius: 20px;
    position: relative;
    background-color: black;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.close:hover {
    cursor: pointer;
}
