.container {
    width: 100%;
}
.number {
    text-align: center;
}

.done_color {
    color: #00CCCC;
}

.date {
    color: #8585AD
}

.ingredients_container {
    display: flex;
    flex-direction: column;
    max-height: 320px;
    overflow-y: scroll;
}
