.container {
   display: flex;
    flex-direction: column;
}

.container_constructor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 656px;
    overflow-y: scroll;
}

.button {
    width: 215px;
    margin-left: 40px;
}

.icon {
    width: 33px;
    height: 33px;
}

.count_wrapper {
    margin-top: 40px;
}

.ingredient:hover {
    cursor: pointer;
}
